body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.counter {
    background: #ccc;
	width: 74px;
	position: absolute;
	background-color:#105CB6;
	padding: 3px;

	top:50px;

	color:#0ff;
	font-family: Helvetica, Arial;
	font-size: 9px;
	font-weight: bold;
}

.update-btn {
    background: #ccc;
	width: 74px;
	position: absolute;
	background-color:#105CB6;
	padding: 3px;

	top:80px;

	font-family: Helvetica, Arial;
	font-size: 12px;
	font-weight: bold;
}

.green {
    color:#00ff00;
}

.red {
    color:#ff0000;
}